<div class="adl-step-bogota">
    <div>
        <span>1 de 4</span>
    </div>
    <div>
        <h3>Envía y recibe dinero con la nueva Llave Aval</h3>
    </div>
    <div>
        <img class="adl-img-fluid" alt="Envía y recibe dinero con la nueva Llave Aval" src="templates/img/nueva-llave-aval.png">
    </div>
    <div>
        <p>
            La Llave AVAL es un identificador compuesto de 5 letras, un carácter especial y 3 números consecutivos para enviar dinero de forma rápida. Por cada cuenta que tengas tendrá asociada una llave única. Fácil de compartir a todos tus contactos sin exponer tus datos personales.
        </p>
    </div>
</div>