<div class="adl-step-bogota">
    <div>
        <span>2 de 4</span>
    </div>
    <div>
        <h3>Encuentra tu Llave Aval</h3>
    </div>
    <div>
        <img class="adl-img-fluid" alt="Envía y recibe dinero con la nueva Llave Aval" src="templates/img/encuentra_tu_llave_aval.png">
    </div>
    <div>
        <p>
            En cada una de tus cuentas encontrarás tu Llave AVAL. La llave estará compuesta de 5 letras, un carácter especial y 3 números consecutivos.
        </p>
    </div>
</div>