<div class="adl-step-avvillas">
    <div>
        <img class="adl-img-fluid" alt="Envía y recibe dinero con la nueva Llave Aval" src="templates/img/transfiere_ahora_llave_aval.png">
    </div>
    <div class="dots">
        <div class="dot-active"></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
    <div>
        <h3>Transfiere ahora con tu Llave AVAL</h3>
    </div>
    <div>
        <p>
            Una Llave son letras y números para identificar tus cuentas.
        </p>
    </div>
</div>