<div class="adl-step-avvillas">
    <div>
        <img class="adl-img-fluid img-border-occidente" alt="Envía y recibe dinero con la nueva Llave Aval" src="templates/img/Encuentrela.png">
    </div>
    <div class="container-occidente">
        <div class="dots">
            <div></div>
            <div class="dot-active"></div>
            <div></div>
            <div></div>
        </div>
        <div>
            <h3 class="steps-occidente-H3">¡ENCUENTRALA!</h3>
        </div>
        <div>
            <p class="steps-occidente-p">
                En cada una de tu cuentas.
            </p>
        </div>
    </div>
</div>