<div class="adl-step-avvillas">
    <div>
        <img class="adl-img-fluid img-border-occidente" alt="Envía y recibe dinero con la nueva Llave Aval" src="templates/img/Envia.png">
    </div>
    <div class="container-occidente">
        <div class="dots">
            <div></div>
            <div></div>
            <div></div>
            <div class="dot-active"></div>
        </div>
        <div>
            <h3 class="steps-occidente-H3">¡ENVIA!</h3>
        </div>
        <div>
            <p class="steps-occidente-p">
                Para transferir, Ingresa la Llave que te compartieron.
            </p>
        </div>
    </div>
</div>