<div class="adl-step-occidente">
    <div>
        <img class="adl-img-fluid img-border-occidente" alt="Envía y recibe dinero con la nueva Llave Aval" src="templates/img/Recibe.png">
    </div>
    <div class="container-occidente">
        <div class="dots">
            <div></div>
            <div></div>
            <div class="dot-active"></div>
            <div></div>
        </div>
        <div>
            <h3 class="steps-occidente-H3">¡RECIBE!</h3>
        </div>
        <div>
            <p class="steps-occidente-p">
                Copia tu llave y envíala por Whatsapp, email... etc.
            </p>
        </div>
    </div>
</div>